.form-control{
    width:300px;
    height:5rem;
    font-size:3rem;
    margin-bottom: 5rem;
}

.mb-3{
    font-size: large;
    color: #f49014;
    font-weight: bold;
}

#signUpBtn {
    padding: 1rem 1rem;
    color: ghostwhite;
    font-size: 1.5rem;
    background-color: #f49014;
    border-radius: 2rem;
    display:inline-block;
    cursor: pointer;
    margin-bottom: .5rem;
}

.signUpTitle {
    font: 700 3rem/5rem 'Noto Sans KR', sans-serif;	
    position: absolute;
    margin-left: 15rem;
}