/*리뷰쓰기 Top*/
.preView {
  display: flex;
}

.mapView {
  display: flex;
}

.titleWrap, .tempTitleWrap, .revWriteWrap {
  text-align: left;
}

.titleWrap #revTitle,
.tempTitleWrap #revTempTitle {
  font: 700 3rem/5rem 'Noto Sans KR', sans-serif;	
}

.revWrap {
  
}

.revWriteWrap {
  margin: 0 auto;
  width: 100rem;
}